<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ecuacion de segundo grado</title>
</head>
<body>
    <div>Digite los numeros de la ecuacion<br /></div>
    <div> <br/> </div>
    <div> 
        <form action="/Home/Ecuacion" method="post">


            <label for="Num1"> Numero a </label>
            <input id="Num1" type="number" name="nume1" value="" />

            <label for="Num2"> Numero b </label>
            <input id="Num2" type="number" name="nume2" value="" />

            <label for="Num3"> Numero c </label>
            <input id="Num3" type="number" name="nume3" value="" />

            <button type="submit"> Calcular </button>
            <button type="reset"> Limpiar </button>
        </form>
    </div>

</body>
</html>